*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* large button style */
.largebutton{
    margin-top: 10px;
    width: 100%;
    background-color:burlywood;
    padding:8px;
    font-weight: 700;
    font-size:15px;
    font-family: 'Playfair Display', serif;
}
/* img button image div style */
.imgdiv{
    display: flex;
    justify-content: space-around;
    margin-top:15px;
    background-color: aqua;
    height:200px;
    width:100%;
}
/* style of images */
img{
    width:200px;
    height:200px;
}
/* small button div style */
.smallbutton{
    display:flex;
    justify-content: space-around;
    margin-top:10px;
    
}
/* small button styleing */
.small{
    background-color: bisque;
    width:200px;
    font-size:20px;
    padding:10px;
    
}
.small:hover{
    background-color: blueviolet;
    color:white;
}

